* {
  padding: 0;
  margin: 0;
  font-family: menco, sans-serif;
  font-feature-settings: "ss02" on;
  color: var(--basecolor);

  /* font-variant-alternates: character-variant(a.ss02); */
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  --basecolor: #ae8d0b;
  accent-color: var(--siteColor);
}
body {
  margin: 0, 30px;
}

header {
  margin: 0;
  width: 100%;
  position: fixed;
  z-index: 100;
  mix-blend-mode: color-burn;
}
li {
  list-style: none;
}
a {
  transition: 0.3s ease;
  cursor: pointer;
  text-decoration: none;
}

.miriampath {
  fill: none;
  height: 3.4rem;
  stroke: var(--basecolor);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 9px;
  stroke-dasharray: 0.1 15;
  stroke-dashoffset: 24 160;
  animation: miriamPathAnim 60s linear infinite;
  /* animation-direction: reverse; */
}

@keyframes miriamPathAnim {
  from {
    stroke-dashoffset: 1400;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}

.nav-menu {
  display: flex;
  position: fixed;
  padding-right: 30px;
  right: -100%;
  top: 110px;
  flex-direction: column;
  text-align: end;
  transition: 0.4s ease-in-out;
}

.nav-menu.active {
  right: 0;
}

.hamburgerSVG {
  display: flex;
  align-items: center;
}

.x6box {
  height: 2rem;
  overflow: visible;
  fill: none;
  stroke: var(--basecolor);
  stroke-linecap: round;
  stroke-width: 8px;
}

.x6OU {
  stroke-dasharray: 200 700;
  stroke-dashoffset: 120;
  transition: 0.6s ease-in-out;
}

.x6M {
  stroke-dasharray: 200 450;
  stroke-dashoffset: 120;
  transition: 0.6s ease-in-out;
}

.hamburgerSVG.active .x6M {
  stroke-dashoffset: -393;
}

.hamburgerSVG.active .x6OU {
  stroke-dashoffset: -317;
}

.gallery {
  padding: 1em;
  animation: backgroundani 30s linear infinite;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  overflow: visible;
  text-decoration: none;
  align-items: center;
}
.gallery a {
  /* width: 80%; */
  /* overflow: visible; */
  z-index: 20;
  overflow: visible;
}

@keyframes backgroundani {
  0% {
    background-color: hsl(0, 40%, 91%);
  }
  25% {
    background-color: hsl(90, 56%, 91%);
  }
  50% {
    background-color: hsl(180, 56%, 91%);
  }
  75% {
    background-color: hsl(43, 100%, 91%);
  }
  100% {
    background-color: hsl(0, 40%, 91%);
  }
}

.about {
  padding-top: 120px;
  padding-bottom: 0px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 0;
  background-color: rgb(203, 177, 227);
}
.about div {
  display: flex;
  justify-content: center;
  /* align-items: flex-end; */
  height: 12rem;
}
.contact {
  display: grid;
  z-index: 22;
  padding: 120px 30px;

  background-color: rgb(230, 250, 220);
  height: 300px;
}

.contact img {
  width: 4rem;
  transition: 3s ease-out;
}

.contact a :hover {
  rotate: 360deg;
}

footer p {
  margin: 30px;
  font-size: 0.7rem;
}

@media (min-width: 700px) {
  * {
    font-size: 1.6rem;
  }
  body {
    margin: 0, 50px;
  }
  .navbar {
    padding: 20px 50px;
  }

  .nav-menu {
    padding-right: 50px;
  }
  .x6box {
    height: 40px;
    stroke-width: 8px;
  }
  .gallery {
    padding: 2rem;
    gap: 3rem;
    grid-template-columns: repeat(4, 1fr);
    overflow: visible;
  }
  .about {
    padding-bottom: 0px;
    padding-left: 50px;
    padding-right: 200px;
    margin-bottom: 0;
  }
  .contact {
    height: 600px;
  }
}
.scrollToTop {
  position: fixed;
  width: 2rem;
  bottom: -100%;
  right: 50px;
  cursor: pointer;
  /* font-size: 1rem; */
  z-index: 100;
  /* text-align: center;
  align-items: center; */
  transition: all 3s ease-in-out;
  mix-blend-mode: color-burn;
}
.scrollToTop.show {
  bottom: 50px;
}
.clouds {
  width: 100%;
  height: 1000px;
  /* display: grid;
  place-content: center; */
  z-index: 2;
  position: relative;
}

.clouds svg {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 10;
  mix-blend-mode: color-burn;
}

.eyeWhite {
  animation: 6s infinite eyeBlink;
}

@keyframes eyeBlink {
  0% {
    visibility: visible;
  }
  96%,
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.eyeBlack {
  animation: 18s infinite eyeMove;
}

@keyframes eyeMove {
  0%,
  100% {
    transform: translate(-30px, -20px);
  }
  50% {
    transform: translateX(30px);
  }
}
