body {
  background-color: rgb(250, 240, 250);
  --siteColor: rgb(50, 230, 125);
}

/* header {
  position: fixed;
  margin-top: 0;
} */

header nav div {
  display: flex;
  align-items: baseline;
  column-gap: 20px;
}

.miriampath {
  fill: none;
  height: 40px;
  stroke: var(--siteColor);

  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 10px;
  stroke-dasharray: none;
  animation: none;
}

.bt {
  border: none;
  background: none;
  cursor: pointer;
}

#x1 {
  height: 25px;
  overflow: visible;

  fill: none;
  stroke: var(--siteColor);
  stroke-linecap: round;
  stroke-width: 10px;
  stroke-dasharray: 115 198;
  transition: 0.5s ease-in-out;
}
.bt:hover #x1 {
  stroke-dashoffset: -250;
  stroke-dasharray: 90 330;
}

article {
  padding-top: 120px;
  padding-left: 50px;
  height: 1300px;
  /* background-color: rgb(160, 95, 139); */
}
